@using Divisima.WebUI.ViewComponents;
<!DOCTYPE html>
<html lang="tr">
<head>
    <title>Divisima | eCommerce Template</title>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1254" />
    <meta http-equiv="Content-Type" content="text/html; charset=x-mac-turkish" />
    <meta name="description" content=" Divisima | eCommerce Template">
    <meta name="keywords" content="divisima, eCommerce, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon -->
    <link href="img/favicon.ico" rel="shortcut icon" />

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,300i,400,400i,700,700i" rel="stylesheet">

    <!-- Stylesheets -->
    <link href="~/css/site.min.css" rel="stylesheet" />


</head>
<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="cartModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"></h5>
                    <a class="btn-close" data-bs-dismiss="modal" aria-label="Close"></a>
                </div>
                <div class="modal-body">
                    
                </div>
               
            </div>
        </div>
    </div>

    @await Component.InvokeAsync(typeof(HeaderViewComponent))
    @RenderBody()
    @await Component.InvokeAsync(typeof(FooterViewComponent))

    <!--====== Javascripts & Jquery ======-->
    <script src="~/js/site.min.js" charset="UTF-8"></script>
    @RenderSection("customScript", false)
</body>
</html>
